// scss-docs-start color-variables




// scss-docs-start theme-color-variables

header {
    height: 7vh;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: $dark;
    color: white;
}

main {
    @extend .px-4, ;
    @extend .py-5;
    min-height: 90vh;
}

footer {
    height: 3vh;
}

.contentCard {
    background-color: inherit;
    border-color: $gray-800;
}