// scss-docs-start color-variables
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

// scss-docs-start theme-color-variables
// $primary: $blue;
// $secondary: $gray-600;
// $success: $green;
// $info: $cyan;
// $warning: $yellow;
// $danger: $red;
// $light: $gray-100;
// $dark: $gray-900;


@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

.main {
    background-color: $gray-600;
    color: $info;
    min-height: 90vh;
}

.footer {
    height: 10vh;
}