@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

.main {
    min-height: 90vh;
}

.footer {
    height: 10vh;
}